version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ./app/uploads:/app/uploads
      - ./app/resume_app.db:/app/resume_app.db
  environment:
    ALLOWED_ORIGINS: "https://resume.292450.xyz,https://resume-backend.292450.xyz"
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        VITE_BACKEND_URL: https://resume-backend.292450.xyz
    ports:
      - "3000:3000"
    environment:
    VITE_BACKEND_URL: https://resume-backend.292450.xyz
    depends_on:
      - backend
    restart: unless-stopped

